
        /* Додамо трохи стилів, щоб це виглядало як картки */
        body {
            font-family: monospace;
            font-weight: 900;
            padding: 20px;
            background: #f4f4f4; 
        }

        #hero-container { 
            display: flex;
            flex-wrap: wrap; 
            gap: 15px; }

        .hero-card { 
            background: white; 
            border: 1px solid #ddd; 
            padding: 15px; 
            width: 200px; 
            border-radius: 8px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        }

        header {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            background-color: rgba(189, 85, 85, 0.3);
            border-radius: 7px; 
        }

        header:hover {
            transform: scale(1.005);
        }

        /* img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 10px;
        } */

        img {
    width: 100%;          /* Змушуємо всі картинки зайняти всю ширину картки */
    aspect-ratio: 16 / 9; /* Стандартна пропорція для Dota-портретів. Замінює height: auto */
    object-fit: cover;    /* Головна магія: заповнює рамки, зберігаючи пропорції обличчя */
    display: block;
    margin-bottom: 10px;
    border-radius: 6px;
}
