* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: monospace;
    font-weight: 900;
    padding: 20px;
    background: #f4f4f4;
}

#hero-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.hero-card {
    background: rgb(255, 0, 0);
    border: 1px solid #ddd;
    padding: 15px;
    height: 350px;
    /* Задаємо фіксовану висоту для кращого вигляду */
    perspective: 1000px;
    /* Глибина 3D */
    background: transparent;
    /* Робимо фон прозорим, щоб бачити анімацію */
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    
}

.hero-card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* Клас, який ми будемо додавати через JS для перевороту */
.hero-card.flipped .card-inner {
    transform: rotateY(180deg);
}

/* Передні та задні сторони */
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Ховаємо "спину", коли ми її не бачимо */
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    align-items: center;
    justify-items: start;
    column-gap: 5px;
}

.card-back {
    grid-template-columns: 1fr;
}

.card-front h3 {
    grid-column: 1/-1;
    justify-self: center;
}

.card-front img {
    grid-column: 1/-1;
    display: block;
    width: 85%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 6px;
    justify-self: center;
}

/* Задня сторона спочатку розвернута на 180 градусів */
.card-back {
    transform: rotateY(180deg);
    background: #ffffff;
    color: rgb(0, 0, 0);
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.custom-select {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #2c3e50;
    color: white;
    border: 2px solid #34495e;
    cursor: pointer;
    transition: all 0.3s ease;
    appearance: none;
    outline: none;
    min-width: 150px;
    margin-bottom: 20px;
}


.custom-select:hover {
    border-color: #004196c7;
    background-color: #34495e;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: rgba(189, 85, 85, 0.3);
    border-radius: 7px;
}

header:hover {
    transform: scale(1.005);
}
